

body {
  background-color: rgb(253, 254, 237);
}

/* Navbar */
.navbar {
  z-index: 10;
  color: black;
  width: 100%;
}

.navbar > .container-fluid > .navbar-collapse > .navbar-nav > a.nav-link {
  color: rgb(95, 100, 105);
  text-align: center;
  border-bottom: 5px solid rgba(97, 239, 92, 0);
  padding: 20px;
  font-family: 'Domine';
  font-weight: 500;
}

.navbar > .container-fluid > .navbar-collapse > .navbar-nav > a.nav-link:hover {
  color: rgb(199, 170, 199);
}


.navbar > .container-fluid > .logo > .navbar-brand {
  margin-left: 20px;
  font-family: 'Archivo Black';
  color:rgb(110, 91, 255);
}

.navbar > .container-fluid > .navbar-collapse > .navbar-nav > a.active {
  color: rgb(139, 100, 247);
}

.logo {
  width: 50px;
  margin: 10px 60px 10px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.et-logo {
  width: 50px;
}

/* Main Container */

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Behind Background */

/* Blur */
#blur-background {
  z-index: 0;
  position: relative;
  border-radius: 50%;
  filter: blur(100px);
}

.blur-row {
  position: absolute;
  top: 100px;
}

/* heart abstract */
.abstract-art-2-bg {
  width: 280px;
  position: relative;
  animation: bounce;
}

.pink {
  background-color: rgb(247, 170, 255);
  position: absolute;
  left: 300px;
  width: 200px;
  height: 200px;
}

.blue {
  background-color: rgba(219, 255, 136, 0.784);
  /* position: absolute;
  bottom: -150px; */
  left: 90px;
  width: 200px;
  height: 200px;
}

.aqua {
  background-color: rgba(157, 253, 255, 0.755);
  /* position: absolute;
  bottom: -150px; */
  right: 100px;
  width: 200px;
  height: 200px;
}

/* Abstract */
.abstract-art-bg {
  width: 250px;
}

.abstract-art-1-bg {
  width: 130px;
  position:relative;
  animation: circle 6s linear infinite;
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  
  }
  50%{
    transform:rotate(90deg)
              translate(-165px)
              rotate(-360deg);
  }

  100%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(-360deg);
  }
}


.abstract-art-3-bg {
  width: 80px;
  position: relative;
  
}

/* Title */
#title {
  background-color: #fdf8d600;
  z-index: 1;
}

.title-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.title-container {
  position: relative;
  background-color: rgba(255, 255, 250, 0.952);
  width: 95%;
  box-shadow: rgba(138, 138, 138, 0.27) 0px 7px 29px 0px;
}

.main-title-with-buttons {
  padding: 20px;
}

.div-main-title {
  margin: 20px;
}

/* buttons */

.div-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-btn, .sec-btn, .price-tier-card > button {
  color: white;
  box-shadow: rgba(138, 138, 138, 0.27) 0px 7px 29px 0px;
  border: none;
  margin-top: 10px;
  padding: 15px;
  border-radius: 50px;
  margin: 20px;
  width: 200px;
}

.first-btn {
  background-color: rgb(235, 123, 235);
}

.sec-btn {
  background-color: rgb(157, 118, 243);
}

.first-btn:hover, .sec-btn:hover {
  background-color: rgba(175, 183, 255, 0.16);
  color: black;
  transition: all linear 1s;
  box-shadow: rgba(70, 70, 70, 0.719) 0px 7px 29px 0px;
  border: 1px solid white;
}

.fa-apple, .fa-google-play {
  margin-right: 10px;
}

/* Font */

* {
  font-family: 'Lora';
}

a {
  font-size: 18px;
}



.main-title, .even-trade-title {
  font-family: 'Archivo Black';
  font-size: 40px;
  padding: 0;
  text-align: center;
}

.main-title {
  margin: 5px;
}

.even-trade-title {
  color:rgb(123, 102, 255);
  border-bottom: 10px solid #3fd5ff00;
  text-align: center;
  margin-bottom: 20px;
}

.div-main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-main-title:hover > .even-trade-title {
  transition: all ease-in 2s;
  border-bottom: 10px solid #26f1ff;
  cursor: pointer;
}

.img-background {
  position: relative;
  width: 160px;
  height: 295px;
  background-color: rgba(239, 240, 255, 0.614);
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: rgba(38, 38, 45, 0.349) 0px 7px 29px 0px;
}

.phone-img {
  display: flex;
  padding: 20px;
}

.app-img {
  width: 200px;
  padding: 20px;
  position: absolute;
  z-index: 3;
  opacity: 0.85;
}


.app-img:hover {
  transform: translate(-20px, 20px);
  opacity: 1;
  transition: all ease-in-out 1s;
}

.app-img:hover ~ .img-background {
  transition: all ease-in-out 1s;
  box-shadow: rgba(249, 235, 143, 0.551) 0px 20px 59px 10px;
  background-color: rgba(225, 225, 250, 0.94);
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 55px; */
}

.mobile-p {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.mobile-span {
  padding: 8px;
  text-align:left;
  font-size: 20px;
}

/* Chat Box - Title */

.testimonial-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.abstract-testimonial {
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.abstract-shape {
  width: 350px;
  height: 195px;
  z-index: 3;
  display: flex;
  position: absolute;
  bottom: 30px;
  background-color: rgba(203, 251, 255, 0.59);
  margin-top: 50px;
  border-radius: 50% / 100% 100% 0% 0%;
  animation: blob 2000ms ease-in-out infinite alternate;
  filter: blur(40px);
}

.abs-sh-2 {
  width: 80px;
  height: 80px;
  bottom: 200px;
  right: 30px;
  background-color: rgba(204, 196, 255, 0.647);
  border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  filter: blur(20px);
  animation: 
        blobber 7s 0s linear infinite,
        cobler 7s 0s linear infinite alternate;
   transition: all 2s ease-in-out;
}

/* .shape-3 {
  background-color: rgba(255, 235, 255, 0.677);
  width: 120px;
  right: 120px;
  height: 120px;
  filter: blur(3px);
} */

.shape-4 {
  bottom: 100px;
  background-color: rgba(255, 255, 255, 0.79);
  animation: 
  blobber 10s 0s linear infinite,
  cobler 10s 0s linear infinite alternate;
  filter: blur(20px);
}

@keyframes blob {
  0% {
    border-radius: 50% / 100% 100% 0% 0%;
  }
  50% {
    border-radius: 15% / 100% 40% 10% 20%;
    width: 340px;
    height: 185px;
  }
  100% {
    border-radius: 50% / 100% 100% 0% 0%;
  }
}

@keyframes blobber {
  0%  { border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
  5%  { border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%; }
  10% { border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%; }
  15% { border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%; }
  20% { border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%; }
  25% { border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%; }
  30% { border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%; }
  35% { border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%; }
  40% { border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%; }
  45% { border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%; }
  50% { border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%; }
  55% { border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%; }    
  60% { border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%; }
  65% { border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%; }
  70% { border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%; }
  75% { border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%; }
  80% { border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%; }
  85% { border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%; }
  90% { border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%; }
  95% { border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%; }
  100%{ border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
}

@keyframes cobler {
0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 0%;
  }
}

@keyframes wobbler {
  0%  {
      transform: rotateZ(8deg);
  }
  100% {
      transform: rotateZ(-8deg);
  }
}

.title-details {
  position: absolute;
  bottom: 40px;
}

.chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.971);
  outline: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: rgba(78, 78, 78, 0.32) 0px 7px 29px 0px;
  z-index: 5;
  margin: 10px;
}

.profile {
  width: 70px;
  height: 70px;
  background-color: rgba(225, 198, 252, 0);
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-2 {
  background-color: rgba(209, 198, 252, 0);
}

.profile-3 {
  background-color: rgba(252, 198, 238, 0);
}

.gems {
  width: 60px;
}

.chat:hover > .profile > .gems {
  animation: rotate 2s ease-in-out infinite
}

@keyframes rotate {
  0%{
    transform:rotate(0deg)
  }

  50%{
    transform:rotate(90deg)        
  }

  100%{
    transform:rotate(360deg)
  }
}

.profile-span {
  width: 250px;
}

.chat-span {
  font-size: 12px;
  margin: 5px;
}

.chat:hover {
  box-shadow: rgba(255, 255, 255, 0.72) 0px 7px 29px 0px;
  transition: all 2s ease-in-out;
  cursor: pointer;
}

.chat:hover > .profile {
  box-shadow:
  0 0 30px 30px rgba(255, 255, 255, 0.952),  /* inner  */
  0 0 30px 20px rgba(142, 245, 226, 0.801), /* middle  */
  0 0 20px 40px rgba(254, 254, 255, 0.167); /* outer */
  transition: all 1s ease-in-out;
}

.chat:hover > .profile-2 {
  box-shadow:
  0 0 30px 30px rgba(255, 255, 255, 0.876),  /* inner  */
  0 0 20px 40px rgba(226, 212, 249, 0.867), /* middle */
  0 0 20px 40px rgba(254, 254, 255, 0.167); /* outer */
  transition: all 1s ease-in-out;
}

.chat:hover > .profile-3 {
  box-shadow:
  0 0 30px 30px rgba(255, 255, 255, 0.871),  /* inner */
  0 0 20px 20px rgba(255, 204, 233, 0.867), /* middle */
  0 0 20px 40px rgba(254, 254, 255, 0.167); /* outer */
  transition: all 1s ease-in-out;
}



/* Features */

#features {
  margin-bottom: 20px;
  z-index: 4;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.feature-title > h3 {
  font-family: 'Archivo Black';
  font-size: 35px;
  color:rgba(110, 91, 255, 0.732);
}

.feature-title  > .title-prof {
  font-size: 40px;
  text-align: center;
}

.feature-row {
  justify-content:space-between;
  align-items:center;
}

.feature-card-bg {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 251, 251, 0.648);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgba(213, 213, 213, 0.27) 0px 7px 29px 0px;
}

.feature-card {
  width: 90%;
  height: 90%;
  background-color: rgba(240, 248, 255, 0.662);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(101, 100, 100, 0.27) 0px 7px 29px 0px;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.feature-descr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feature-descr > p {
  margin: 15px;
  margin-top: 0;
  color: black;
  font-family: 'Domine';
  font-weight: 700;
  padding-bottom: 20px;
}

.connections-card {
  background-color: rgba(225, 196, 255, 0.228);
}

.trust-card {
  background-color: rgba(251, 255, 207, 0.228);
}

.local-card {
  background-color: rgba(196, 255, 200, 0.228);
}

.professions-card {
  background-color: rgba(196, 255, 249, 0.228);
}

.img-feature {
  width: 100px;
  margin: 20px;
}

.feature-card:hover {
  animation: pulse;
  animation-duration: 2s;
  transition: animation 2s linear;
  box-shadow:
  0 0 30px 30px rgba(255, 255, 255, 0.876),  /* inner  */
  0 0 20px 10px rgba(226, 212, 249, 0.867), /* middle */
  0 0 20px 10px rgba(254, 254, 255, 0.167); /* outer */
  transition: all 1s ease-in-out;
}

/* Service */

.service-div {
  background-color: rgb(255, 253, 251);
  width: 80%;
  border: 1px solid black;
}

#service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#service > h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Archivo Black';
}

#service > p {
  font-size: 20px;
  font-family: 'Domine';
  padding: 20px;
}

.collab {
  width: 550px;
}


/* Press */

.press-div, .price-div, .cta-div, .footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#press {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-span {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
}

.logo-span span {
  text-align: center;
  font-family: 'Archivo Black';
  font-size: 40px;
}

.brand-logo {
  width: 200px;
  margin: 20px;
  align-self: center;
}

.logo-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo glass */
.logo-glass {
  width: 350px;
  height: 120px;
  margin: 30px;
  background-color: #3fd5ffee;
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;

  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 251, 251, 0.533);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgba(234, 228, 212, 0.912) 0px 7px 29px 0px;
}

.logo-glass:hover {
  z-index: 10;
  cursor: pointer;
  transition: all 1s linear;
  box-shadow:
  0 0 30px 30px rgba(255, 254, 251, 0.234),  /* inner  */
  0 0 10px 10px rgba(248, 245, 225, 0.867), /* middle */
  0 0 20px 10px rgba(199, 199, 252, 0.068); /* outer */

}

/* Pricing */

#pricing {
  display: flex;
  justify-content: center;
  
}

#id-price-div {
  width: 90%;
}

.pricing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.pricing-header > p {
  font-size: 20px;
  color: rgb(72, 71, 75);
}

.pricing-header > h2 {
  font-family: 'Archivo Black';
  font-size: 50px;
}

.price-tier-card {
  box-shadow:
  0 0 30px 30px rgba(255, 254, 251, 0.234),  /* inner  */
  0 0 10px 10px rgba(251, 246, 222, 0.867), /* middle */
  0 0 20px 10px rgba(199, 199, 252, 0.068); /* outer */
  
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
}

.price-tier-card > h3 {
  margin: 20px;
  font-size: 40px;
  color: rgb(52, 50, 50);
  text-align: center;
  font-weight: 800;
}

.price-tier-card > p {
  margin: 10px;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.price-tier-card > h2 {
  font-size: 19px;
  font-weight: 800;
}

.price-tier-card button {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 251, 251, 0.916);
  border-radius: 40px;
  
  box-shadow: rgba(164, 153, 132, 0.306) 0px 7px 29px 0px;
  margin-bottom: 20px;
  color: black;
  
}

.pricing-citrine > button:hover {
  background-color: rgba(51, 51, 225, 0.939);
  color: white;
  transition: all 500ms linear;
}

.pricing-citrine {
  background-color: rgba(253, 249, 124, 0.773);
}

.pricing-citrine > button {
  background-color: rgba(238, 186, 55, 0.773);
}

.pricing-quartz {
  background-color: rgba(255, 255, 255, 0.916);
}

.pricing-quartz > button {
  border: 1px solid black;
}

.pricing-quartz > button:hover {
  background-color: rgb(81, 81, 81);
  color: white;
  transition: all 500ms linear;
}

.pricing-amethyst {
  background-color: rgba(210, 186, 255, 0.773);
}

.pricing-amethyst > button {
  background-color: rgb(190, 144, 255);
}

.pricing-amethyst > button:hover {
  background-color: rgb(136, 111, 228);
  color: white;
  transition: all 500ms linear;
}

/* call to action */
.cta-div {
  margin: 30px;
}

#cta {
  display: flex;
  flex-direction: column;
}

#cta .cta-buttons {
  flex-direction: row;
}

/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credit {
  color: gray;
}

.credit:hover {
  color:rgb(85, 92, 212);
}
